<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myomax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>369473B20FD5C3DC00A5E9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41933251B7D5B4E00E707C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F419333A1B7D5B4E00E707C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
